build/
source/operatingsystems/windows/commonissues/Files/applyingusersettingserror/Thumbs\.db
source/operatingsystems/windows/server2016/files/settingsapp/system/Thumbs\.db
source/network/cdn/files/Thumbs\.db
source/dr-ha/ukfast_backup/files/Thumbs\.db
.idea
