---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - host: docs.ukfast.co.uk
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: app
            port:
              number: 80
  tls:
  - hosts: 
    - docs.ukfast.co.uk
    secretName: docs-ukfast-co-uk-tls
