.grid-parent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.grid-item {
    width: 100%;
    margin: 0 0 20px 0;
    border-radius: 2px;
    background: #F8FAFC;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    font-size: 1em;
    border-left: 2px solid #69DAE2;
}

.grid-item.box.col2 {
    margin-right: 0px;
}


@media only screen and (min-width: 1200px){
    .grid-item {width:49%;margin: 0 20px 20px 0;}
}