---

name: Teardown UAT environment for this PR
on:
  workflow_dispatch: {}
  pull_request_target:
    types:
      - closed

jobs:
  teardown:
    if: contains(github.event.pull_request.labels.*.name, 'deploy uat')
    runs-on: ubuntu-latest
    environment:
      name: UAT
    steps:
      - name: Setup kubectl
        uses: azure/setup-kubectl@v1

      - name: Teardown UAT environment for this PR
        run: |
          mkdir $HOME/.kube
          echo -e "${{ secrets.UAT_KUBECONFIG }}" > $HOME/.kube/config
          kubectl -n docs-uat delete ingresses -l 'app.kubernetes.io/instance=docs-uat-${{ github.event.number }}'
          kubectl -n docs-uat delete services -l 'app.kubernetes.io/instance=docs-uat-${{ github.event.number }}'
          kubectl -n docs-uat delete deployments -l 'app.kubernetes.io/instance=docs-uat-${{ github.event.number }}'
